.Nav_Component { 
    display: flex;
    padding: 40px;
    justify-content: space-between;
  
}

.SectionMain { 
  
    background-image: url("../../assets/img/fundorosa.png") ;    
    background-size: cover;
    height: 100vh;
    width: 100%;
}

.Ensight { 
    display: flex;
    justify-content: center;
    
    margin-top:15%;
    font-weight: 600;
}

.Ensight2 { 
    display: flex;
    justify-content: center;
    font-size: 1.25rem;
    margin-top: 15px;
    font-weight: 100;
   
}
/*
.Ensight_Bottom { 
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top:20%
}
*/

.container-main { 
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 100vh;
    width: 100%;
}

.content { 
    height: 100vh;
    width: 100%;
    box-shadow: inset -20px -20px 40px rgba(3,3,3,0.5),
    inset 20px 20px 40px rgba(3,3,3,0.5);
  
}

.areas { 
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-left: 1px solid #FFFFFF;
    margin-left:10%;
    
    
}

.container-names { 
    padding-top: 100px ;
    padding-bottom: 100px ;
    padding-left: 35px;
}

.container-names2 { 
    padding-left: 35px;
}

.name { 
    display:flex;
    flex-direction: row;
    padding-bottom: 25px;
    align-items: center;
}

.padding-left { 
    padding-left: 10px;
}


.container-solucoes { 
    padding-top: 35px;
    font-weight:100;
    line-height: 150%;
}



.content2 { 
    height: 120px;
    width: 100%;
}


.Footer_Component { 
    display: flex;
    padding: 40px;
    justify-content: space-around;
    align-items: center;
  
}

.Footer_Social { 
    display: flex;
    flex-direction: row;
    justify-items: normal;
}





  
  .perspective-text {
    color: white;
    font-size: 58px;
    font-weight: 900;
    letter-spacing: -2px;
    text-transform: uppercase;
    text-align: center;
  }
  
  .perspective-line {
    height: 50px;
    overflow: hidden;
    position: relative;
  }
  
  p {
    font-size: 30px;
    margin: 0;
    height: 50px;
    line-height: 50px;
    transition: all 0.5s ease-in-out;
    padding-left: 20px;
    padding-right:20px;
  }
  
  .perspective-line:nth-child(odd) {
    transform: skew(60deg, -30deg) scaleY(0.667);
  }
  
  .perspective-line:nth-child(even) {
    transform: skew(0deg, -30deg) scaleY(1.337);
  }
  
  .perspective-text:hover p {
    transform: translate(0, -50px);
  }
  
  .perspective-line:nth-child(1) {
    left: 29px;
  }
  
  .perspective-line:nth-child(2) {
    left: 58px;
    background: #EC31DE;
  }
  
  .perspective-line:nth-child(3) {
    left: 87px;
    background: #D7199A;
  }
  
  .perspective-line:nth-child(4) {
    left: 116px;
    background: #5D3977;
  }
  
  .perspective-line:nth-child(5) {
    left: 145px;
  }
  

